.cart {
  padding-top: 150px;
  &-container {
    width: 1170px;
    height: 400px;
    padding-bottom: 40px;
    background: rgba(102, 98, 128, 0.58);
    box-shadow: 0px 4px 33px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding-top: 1px;
    position: relative;
  }
  &-header {
    float: right;
    width: 922px;
    padding: 26px;
    background: linear-gradient(
      92.36deg,
      #07041a -25.38%,
      #302daa -25.38%,
      rgba(84, 8, 120, 0.94) 65.82%
    );
    box-shadow: inset 0px 4px 25px 8px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    span {
      color: #fff;
    }
  }
  &-items {
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 27px;
    color: #fff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    &-name {
      margin-left: 105px;
      display: -webkit-box;
      line-height: 16px; /* Fallback  */
      max-height: 74px; /* Fallback số dòng bạn muốn giới hạn */
      -webkit-line-clamp: 1; /* Số dòng bạn muốn giới hạn */
      visibility: visible; /* Tránh bug không giới hạn số dòng được do trình duyệt */
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 120px;
      margin-top: 10px;
    }
    &-cinema {
      margin-left: 150px;
    }
    &-room {
      margin-left: 165px;
    }
    &-chair {
      margin-left: 175px;
    }
    &-datetime {
      margin-left: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        display: block;
      }
    }
  }
  &-more {
    position: absolute;
    bottom: 40px;
    right: 40px;
    margin-top: 50px;
  }
  &-new {
    padding: 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 20);
    color: #ffffff;
    background: #72c10c;
    box-shadow: inset 0px 4px 25px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    text-decoration: none;
    border: 1px solid #72c10c;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }
  &-button {
    margin-left: 10px;
    cursor: pointer;
    padding: 22px 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 20);
    color: #ffffff;
    background: #3138da;
    box-shadow: inset 0px 4px 25px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    border: 3px solid #3138da;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
