@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background: #07041a;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  background: #07041a;
  width: 1920px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s linear;
}

.hot {
  margin-bottom: 42px;
}
.hot-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: #f08041;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.hot-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-items {
  background: linear-gradient(180deg, #7e2ce6 60.89%, #2819d8 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  max-width: 350px;
  width: 100%;
  margin-left: 35px;
  margin-bottom: 33px;
}
.hot-content {
  padding: 20px 24px;
  max-width: 350px;
  width: 100%;
}
.hot-img {
  position: relative;
}
.hot-buy {
  position: absolute;
  bottom: 0;
  left: 237px;
  transform: translateY(50%);
}
.hot-buy a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #fff;
  text-decoration: none;
  padding: 6px 20px;
  background: #f08041;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.hot-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.hot-name-caption {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
}
.hot-name-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot-name-star span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ec9615;
  margin-left: 8px;
  margin-top: 3px;
}
.hot-director, .hot-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
}
.hot-director {
  margin-bottom: 10px;
}

@media screen and (max-width: 1439.98px) {
  .hot-buy {
    left: 180px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hot-list {
    flex-direction: column;
  }
  .hot-buy {
    left: 250px;
  }
  .hot-heading {
    font-size: 30px;
    line-height: 0.78125;
    margin-bottom: 50px;
    text-align: center;
    transform: translateX(-20%);
  }
}
.vn {
  margin-bottom: 42px;
}
.vn-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: #f08041;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.vn-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vn-items {
  background: linear-gradient(180deg, #7e2ce6 60.89%, #2819d8 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  max-width: 350px;
  width: 100%;
  margin-left: 35px;
  margin-bottom: 33px;
}
.vn-content {
  padding: 20px 24px;
  max-width: 350px;
  width: 100%;
}
.vn-img {
  position: relative;
}
.vn-buy {
  position: absolute;
  bottom: 0;
  left: 237px;
  transform: translateY(50%);
}
.vn-buy a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #fff;
  text-decoration: none;
  padding: 6px 20px;
  background: #f08041;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.vn-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.vn-name-caption {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
}
.vn-name-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vn-name-star span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ec9615;
  margin-left: 8px;
  margin-top: 3px;
}
.vn-director, .vn-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
}
.vn-director {
  margin-bottom: 10px;
}

@media screen and (max-width: 1439.98px) {
  .vn-buy {
    left: 180px;
  }
}
@media screen and (max-width: 1023.98px) {
  .vn-list {
    flex-direction: column;
  }
  .vn-buy {
    left: 250px;
  }
  .vn-heading {
    font-size: 30px;
    line-height: 0.78125;
    margin-bottom: 50px;
    text-align: center;
    transform: translateX(-20%);
  }
}
.hq {
  margin-bottom: 42px;
}
.hq-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: #f08041;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.hq-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hq-items {
  background: linear-gradient(180deg, #7e2ce6 60.89%, #2819d8 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  max-width: 350px;
  width: 100%;
  margin-left: 35px;
  margin-bottom: 33px;
}
.hq-content {
  padding: 20px 24px;
  max-width: 350px;
  width: 100%;
}
.hq-img {
  position: relative;
}
.hq-buy {
  position: absolute;
  bottom: 0;
  left: 237px;
  transform: translateY(50%);
}
.hq-buy a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #fff;
  text-decoration: none;
  padding: 6px 20px;
  background: #f08041;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.hq-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.hq-name-caption {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
}
.hq-name-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hq-name-star span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ec9615;
  margin-left: 8px;
  margin-top: 3px;
}
.hq-director, .hq-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
}
.hq-director {
  margin-bottom: 10px;
}

@media screen and (max-width: 1439.98px) {
  .hq-buy {
    left: 180px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hq-list {
    flex-direction: column;
  }
  .hq-buy {
    left: 250px;
  }
  .hq-heading {
    font-size: 30px;
    line-height: 0.78125;
    margin-bottom: 50px;
    text-align: center;
    transform: translateX(-20%);
  }
}
.footer {
  position: relative;
  padding-bottom: 50px;
}
.footer-logo {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc;
  border-top: 3px solid #ccc;
  padding: 30px;
}
.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-list {
  list-style: none;
}
.footer-items {
  color: #706d6d;
}
.footer-items:first-child {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.standard-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 35px;
  margin-bottom: 30px;
}
.standard-heading {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  font-size: 35px;
  color: #2f61e1;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.standard-items-one, .standard-items-two, .standard-items-three, .standard-items-four, .standard-items-five, .standard-items-six {
  position: relative;
  cursor: pointer;
}

.standard-items-one::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-one:hover::before {
  content: "Doctor Strange 2";
  width: 91%;
  height: 50%;
}

.standard-items-two::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-two:hover::before {
  content: "578 Phát đạn...";
  width: 91%;
  height: 50%;
}

.standard-items-three::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-three:hover::before {
  content: "Mồi cá mập";
  width: 91%;
  height: 50%;
}

.standard-items-four::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-four:hover::before {
  content: "Nghề siêu dễ";
  width: 91%;
  height: 50%;
}

.standard-items-five::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-five:hover::before {
  content: "Trịnh và em";
  width: 91%;
  height: 50%;
}

.standard-items-six::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(71, 3, 73, 0.637), rgba(12, 49, 172, 0.637));
  height: 50%;
  width: 0%;
  padding: 20px 0 0;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.standard-items-six:hover::before {
  content: "Harry Potter ";
  width: 91%;
  height: 50%;
}

.logo {
  position: relative;
}
.logo-logo {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.img-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: -1;
}

.header {
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  width: 1200px;
  background: #07041a;
  border-radius: 0 0 20px 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 42px;
}
.header-items {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #818181;
  transition: all 0.3s linear;
}
.header-items a {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s linear;
}
.header-items a:hover {
  color: #818181;
}
.header-items:hover {
  color: #000000;
}
.header-icon {
  margin-left: 13px;
  transform: translateY(20%);
}
.header-more {
  display: flex;
  align-items: center;
}
.header-search {
  padding: 10px 10px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(250, 0, 175, 0.212) 0%, rgba(91, 8, 154, 0.295) 45.15%);
  box-shadow: 3px 5px 30px rgba(60, 5, 102, 0.7);
}
.header-search-icon {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}
.header-search input {
  color: #fff;
  background: transparent;
}
.header-search input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: #fff;
}
.header-signin {
  margin-left: 24px;
}
.header-signin a {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
  padding: 13px 30px;
  background: #f08041;
  box-shadow: 3px 5px 30px rgba(240, 128, 65, 0.7);
  border-radius: 13px;
  text-decoration: none;
}
.header-mode {
  margin-left: 30px;
}
.header-sun, .header-moon {
  margin-left: 50px;
  cursor: pointer;
  width: 30px;
}
.header-cart {
  color: #ad6709;
  font-size: 33px;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header-cart:hover {
  color: #7a3067;
}

.dropbtn {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
}

.img-background-header {
  position: absolute;
  transform: translateY(-150%);
  z-index: -1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #2f61e1;
  border-radius: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #818181;
}

/* The container <div> - needed to position the dropdown content */
.user {
  color: #fff;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.user-content {
  display: none;
  position: absolute;
  transform: translateX(-40%);
  background: #2f61e1;
  border-radius: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.user-content span {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of user links on hover */
.user-content span:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

/* Show the user menu on hover */
.user:hover .user-content {
  display: block;
}

.userbtn {
  display: inline;
  background-color: transparent;
  cursor: pointer;
}
.userbtn img {
  display: inline;
  margin-left: 15px;
  border: 2px #fff solid;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
}

/* Change the background color of the user button when the user content is shown */
.user:hover .user {
  color: #818181;
}

.menu-delete {
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  right: 5px;
  top: 5px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.menu-delete:hover {
  color: #000;
}

.menu-delete-two {
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  right: 5px;
  top: 5px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.menu-delete-two:hover {
  color: #000;
}

.menu-active {
  display: none;
}

.menu-list {
  display: block;
  position: fixed;
  list-style: none;
  width: 250px;
  height: 400px;
  padding: 20px 25px;
  border-radius: 15px;
  top: 9%;
  right: 350px;
  transform: scale(0);
  background-image: linear-gradient(to right, #0a1896, #9c106d);
  z-index: 9999;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu-list-mobile {
  display: block;
  position: fixed;
  list-style: none;
  width: 250px;
  height: 400px;
  padding: 20px 25px;
  border-radius: 15px;
  top: 13%;
  transform: translateX(900%);
  background-image: linear-gradient(to right, #0a1896, #9c106d);
  z-index: 9999;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu-active {
  display: none;
  width: 100%;
  cursor: pointer;
  color: #fff;
  background: #2f61e1;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}
.menu-active:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

.is-show {
  transform: scale(1);
}

.is-mode {
  display: none;
}

@media screen and (max-width: 1599.98px) {
  .header-container {
    padding: 15px 130px;
    width: 1440px;
  }

  .is-show {
    right: 150px;
    transform: scale(1);
  }
}
@media screen and (max-width: 1439.98px) {
  .header-container {
    padding: 15px 220px;
    width: 1440px;
  }
  .header-items {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #818181;
    transition: all 0.3s linear;
  }
  .header-items a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #818181;
    transition: all 0.3s linear;
  }
  .header-search {
    padding: 7px 5px;
    background: #2f61e1;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 7px 20px #2f61e180;
  }
  .header-search-icon {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
  }
  .header-search input {
    background: #2f61e1;
  }
  .header-search input::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.15;
    color: #fff;
  }
  .header-list {
    gap: 0 10px;
  }
  .header-signin a {
    font-size: 16px;
  }

  .dropbtn {
    font-size: 16px;
  }

  .is-show {
    top: 10%;
    right: 50px;
    transform: scale(1);
  }

  main {
    width: 1440px;
    padding: 0 200px;
  }
}
@media screen and (max-width: 1023.98px) {
  .header-logo {
    width: 100px;
  }
  .header-container {
    padding: 15px 200px;
    width: 1024px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-list {
    display: none;
  }
  .header-icon {
    transform: translate(-120%, 20%);
  }
  .header-items {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #818181;
    transition: all 0.3s linear;
    margin-bottom: 15px;
  }
  .header-items a {
    font-size: 16px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
  }
  .header-list {
    gap: 0 10px;
  }
  .header-more {
    display: block;
  }
  .header-search {
    display: none;
  }
  .header-signin {
    margin-left: 0;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-signin a {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
  }

  .dropbtn {
    font-size: 16px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
  }

  .dropdown {
    transform: translateX(-6px);
  }

  .menu-list-mobile {
    display: block;
    position: fixed;
    list-style: none;
    width: 250px;
    height: 400px;
    padding: 20px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0a1896, #9c106d);
    top: 7%;
    transform: translateX(900%);
    z-index: 9999;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .menu-active {
    display: block;
  }

  .active {
    color: #000;
    z-index: 999999;
  }

  .is-show {
    top: 7%;
    transform: translateX(190%);
  }
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  width: 16px;
  height: 16px;
  background: #a8b6d9;
  font-size: 0;
  border-radius: 100rem;
  margin-left: -10px;
}
.slick-dots li {
  margin-left: 10px;
}

.hero {
  margin-bottom: 60px;
  padding-top: 120px;
}
.hero-heading {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 35px;
  color: #2f61e1;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.light-mode {
  background: #fff;
}

/*# sourceMappingURL=app.css.map */
