.header {
  position: relative;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width: 1200px;
    background: #07041a;
    border-radius: 0 0 20px 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  &-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 42px;
  }
  &-items {
    font-size: 20px;
    font-family: $font-primary;
    text-decoration: none;
    color: $gray-81;
    transition: all 0.3s linear;
    a {
      font-size: 20px;
      font-weight: 400;
      font-family: $font-primary;
      text-decoration: none;
      color: $white;
      transition: all 0.3s linear;
      &:hover {
        color: $gray-81;
      }
    }
    &:hover {
      color: $dark-00;
    }
  }
  &-icon {
    margin-left: 13px;
    transform: translateY(20%);
  }
  &-more {
    display: flex;
    align-items: center;
  }
  &-search {
    padding: 10px 10px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(250, 0, 175, 0.212) 0%,
      rgba(91, 8, 154, 0.295) 45.15%
    );
    box-shadow: 3px 5px 30px rgba(60, 5, 102, 0.7);
    &-icon {
      font-size: 30px;
      color: $white;
      margin-right: 10px;
    }
    input {
      color: $white;
      background: transparent;
      &::placeholder {
        color: $white;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(23 / 20);
        color: $white;
      }
    }
  }
  &-signin {
    margin-left: 24px;
    a {
      color: $dark-00;
      font-weight: 500;
      font-size: 20px;
      line-height: calc(23 / 20);
      font-family: $font-primary;
      padding: 13px 30px;
      background: #f08041;
      box-shadow: 3px 5px 30px rgba(240, 128, 65, 0.7);
      border-radius: 13px;
      text-decoration: none;
    }
  }
  &-mode {
    margin-left: 30px;
  }
  &-sun,
  &-moon {
    margin-left: 50px;
    cursor: pointer;
    width: 30px;
  }
  &-cart {
    color: #ad6709;
    font-size: 33px;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: #7a3067;
    }
  }
}
.dropbtn {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: $white;
  background-color: transparent;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
}
.img-background-header {
  position: absolute;
  transform: translateY(-150%);
  z-index: -1;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #2f61e1;
  border-radius: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: $gray-81;
}
/* The container <div> - needed to position the dropdown content */
.user {
  color: #fff;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.user-content {
  display: none;
  position: absolute;
  transform: translateX(-40%);
  background: #2f61e1;
  border-radius: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.user-content span {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of user links on hover */
.user-content span:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

/* Show the user menu on hover */
.user:hover .user-content {
  display: block;
}
.userbtn {
  display: inline;
  background-color: transparent;
  cursor: pointer;
  img {
    display: inline;
    margin-left: 15px;
    border: 2px #fff solid;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    object-fit: cover;
  }
}
/* Change the background color of the user button when the user content is shown */
.user:hover .user {
  color: $gray-81;
}
.menu-delete {
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  right: 5px;
  top: 5px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  &:hover {
    color: #000;
  }
}

.menu-delete-two {
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  right: 5px;
  top: 5px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  &:hover {
    color: #000;
  }
}

.menu-active {
  display: none;
}
.menu-list {
  display: block;
  position: fixed;
  list-style: none;
  width: 250px;
  height: 400px;
  padding: 20px 25px;
  border-radius: 15px;
  top: 9%;
  right: 350px;
  transform: scale(0);
  background-image: linear-gradient(to right, #0a1896, #9c106d);
  z-index: 9999;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu-list-mobile {
  display: block;
  position: fixed;
  list-style: none;
  width: 250px;
  height: 400px;
  padding: 20px 25px;
  border-radius: 15px;
  top: 13%;
  transform: translateX(900%);
  background-image: linear-gradient(to right, #0a1896, #9c106d);
  z-index: 9999;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu-active {
  display: none;
  width: 100%;
  cursor: pointer;
  color: #fff;
  background: #2f61e1;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 5px;
  }
}
.is-show {
  transform: scale(1);
  // transform: translateX(600%);
}
.is-mode {
  display: none;
}
@media screen and (max-width: 1599.98px) {
  .header {
    &-container {
      padding: 15px 130px;
      width: 1440px;
    }
  }
  .is-show {
    right: 150px;
    transform: scale(1);
  }
}

@media screen and (max-width: 1439.98px) {
  .header {
    &-container {
      padding: 15px 220px;
      width: 1440px;
    }
    &-items {
      font-size: 12px;
      font-family: $font-primary;
      text-decoration: none;
      color: $gray-81;
      transition: all 0.3s linear;
      a {
        font-size: 16px;
        font-weight: 400;
        font-family: $font-primary;
        text-decoration: none;
        color: $gray-81;
        transition: all 0.3s linear;
      }
    }
    &-search {
      padding: 7px 5px;
      background: $blue-2f;
      border-radius: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 7px 20px #2f61e180;
      &-icon {
        font-size: 30px;
        color: $white;
        margin-right: 10px;
      }
      input {
        background: $blue-2f;
        &::placeholder {
          color: $white;
          font-weight: 400;
          font-size: 18px;
          line-height: calc(23 / 20);
          color: $white;
        }
      }
    }
    &-list {
      gap: 0 10px;
    }
    &-signin {
      a {
        font-size: 16px;
      }
    }
  }
  .dropbtn {
    font-size: 16px;
  }
  .is-show {
    top: 10%;
    right: 50px;
    transform: scale(1);
  }
  main {
    width: 1440px;
    padding: 0 200px;
  }
}
@media screen and (max-width: 1023.98px) {
  .header {
    &-logo {
      width: 100px;
    }
    &-container {
      padding: 15px 200px;
      width: 1024px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
    }
    &-list {
      display: none;
    }

    &-icon {
      transform: translate(-120%, 20%);
    }
    &-items {
      font-size: 16px;
      font-family: $font-primary;
      text-decoration: none;
      color: $gray-81;
      transition: all 0.3s linear;
      margin-bottom: 15px;
      a {
        font-size: 16px;
        font-weight: 900;
        font-family: $font-primary;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s linear;
      }
    }
    &-list {
      gap: 0 10px;
    }
    &-more {
      display: block;
    }
    &-search {
      display: none;
    }
    &-signin {
      margin-left: 0;
      display: inline-block;
      position: relative;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      a {
        padding: 8px 10px;
        font-size: 16px;
        border-radius: 8px;
      }
    }
  }
  .dropbtn {
    font-size: 16px;
    font-weight: 900;
    font-family: $font-primary;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
  }
  .dropdown {
    transform: translateX(-6px);
  }
  .menu-list-mobile {
    display: block;
    position: fixed;
    list-style: none;
    width: 250px;
    height: 400px;
    padding: 20px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0a1896, #9c106d);
    top: 7%;
    transform: translateX(900%);
    z-index: 9999;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .menu-active {
    display: block;
  }
  .active {
    color: #000;
    z-index: 999999;
  }
  .is-show {
    top: 7%;
    transform: translateX(190%);
  }
}
