.header {
  position: relative;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 370px;
    width: 1920px;
    background-image: linear-gradient(70deg, #0a073b, #250312);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  &-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 42px;
  }
  &-items {
    font-size: 20px;
    font-family: $font-primary;
    text-decoration: none;
    color: $gray-81;
    transition: all 0.3s linear;
    a {
      font-size: 20px;
      font-weight: 400;
      font-family: $font-primary;
      text-decoration: none;
      color: $white;
      transition: all 0.3s linear;
      &:hover {
        color: $gray-81;
      }
    }
    &:hover {
      color: $dark-00;
    }
  }
  &-icon {
    margin-left: 13px;
    transform: translateY(20%);
  }
  &-more {
    display: flex;
    align-items: center;
  }
  &-search {
    padding: 10px 10px;
    background: $blue-2f;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 7px 20px rgba(47, 97, 225, 0.5);
    &-icon {
      font-size: 30px;
      color: $white;
      margin-right: 10px;
    }
    input {
      background: $blue-2f;
      &::placeholder {
        color: $white;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(23 / 20);
        color: $white;
      }
    }
  }
  &-signin {
    margin-left: 24px;
    a {
      color: $dark-00;
      font-weight: 500;
      font-size: 20px;
      line-height: calc(23 / 20);
      font-family: $font-primary;
      padding: 13px 30px;
      background: #f08041;
      box-shadow: 3px 5px 30px rgba(240, 128, 65, 0.7);
      border-radius: 13px;
      text-decoration: none;
    }
  }
}
.dropbtn {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: $white;
  background-color: transparent;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #2f61e1;
  border-radius: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: $gray-81;
}
.menu-list {
  display: none;
  position: fixed;
  list-style: none;
  width: 250px;
  height: 400px;
  padding: 20px 25px;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    #0a1896cb,
    rgba(156, 16, 109, 0.603)
  );
  transform: translateY(20%);
  z-index: 9999;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu-active {
  display: none;
  font-size: 50px;
  color: #fff;
  z-index: 999999;
}

.active {
  color: #000;
}
@media screen and (max-width: 1599.98px) {
  .header {
    &-container {
      padding: 15px 130px;
      width: 1440px;
    }
  }
}

@media screen and (max-width: 1439.98px) {
  .header {
    &-container {
      padding: 15px 220px;
      width: 1440px;
    }
    &-items {
      font-size: 12px;
      font-family: $font-primary;
      text-decoration: none;
      color: $gray-81;
      transition: all 0.3s linear;
      a {
        font-size: 16px;
        font-weight: 400;
        font-family: $font-primary;
        text-decoration: none;
        color: $gray-81;
        transition: all 0.3s linear;
      }
    }
    &-search {
      padding: 7px 5px;
      background: $blue-2f;
      border-radius: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 7px 20px #2f61e180;
      &-icon {
        font-size: 30px;
        color: $white;
        margin-right: 10px;
      }
      input {
        background: $blue-2f;
        &::placeholder {
          color: $white;
          font-weight: 400;
          font-size: 18px;
          line-height: calc(23 / 20);
          color: $white;
        }
      }
    }
    &-list {
      gap: 0 10px;
    }
    &-signin {
      a {
        font-size: 16px;
      }
    }
  }
  .dropbtn {
    font-size: 16px;
  }
  main {
    width: 1440px;
    padding: 0 200px;
  }
}
@media screen and (max-width: 1023.98px) {
  .header {
    &-logo {
      width: 100px;
    }
    &-container {
      padding: 15px 200px;
      width: 1024px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
    }
    &-list {
      display: none;
    }
    &-icon {
      transform: translate(-120%, 20%);
    }
    &-items {
      font-size: 16px;
      font-family: $font-primary;
      text-decoration: none;
      color: $gray-81;
      transition: all 0.3s linear;
      margin-bottom: 15px;
      a {
        font-size: 16px;
        font-weight: 900;
        font-family: $font-primary;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s linear;
      }
    }
    &-search {
      padding: 7px 3px;
      background: $blue-2f;
      border-radius: 8px;
      &-icon {
        font-size: 20px;
        color: $white;
        margin-right: 5px;
      }
      input {
        background: $blue-2f;
        &::placeholder {
          color: $white;
          font-weight: 400;
          font-size: 14px;
          line-height: calc(23 / 20);
          color: $white;
        }
      }
    }
    &-list {
      gap: 0 10px;
    }
    &-more {
      display: none;
    }
    &-signin {
      margin-left: 0;
      display: inline-block;
      position: relative;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      a {
        padding: 8px 10px;
        font-size: 16px;
        border-radius: 8px;
      }
    }
  }
  .dropbtn {
    font-size: 16px;
    font-weight: 900;
    font-family: $font-primary;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
  }
  .dropdown {
    transform: translateX(-6px);
  }
  .menu-list {
    display: block;
    top: 70px;
    transform: translateY(50%);
    transform: translateX(400%);
  }
  .menu-active {
    cursor: pointer;
    display: block;
    font-size: 40px;
    color: #fff;
    z-index: 999999;
  }
  .is-show {
    top: 70px;
    transform: translateX(200%);
  }
  .active {
    color: #000;
    z-index: 999999;
  }
}
